body {
  background-color: #e3eef4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d4473;
  color: #f2cb05;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.dungeon-card {
  background-image: url("https://s.yimg.com/uu/api/res/1.2/N.GrxCR9Kw2lRA_6UVd2ZQ--~B/aD0zMTU7dz00MjU7YXBwaWQ9eXRhY2h5b24-/https://www.blogcdn.com/wow.joystiq.com/media/2007/08/utgarde_keep425.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b0bdd966;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border: 5px solid black;
}

.dungeon-card:hover {
  transform: scale3d(1.1);
}

@media (max-width: 768px) {
  .app {
  }

  .dungeon-card {
    height: 10vh;
  }
}

@media (min-width: 768px) {
  .app {
    max-height: 100vh;
  }

  .dungeon-card {
    height: 18vh;
  }
}
