:root {
  --light-color: #ebfffe;
  --dark-color: #27486b;
  --green-color: #33cdc1;
  --gold-color: #edcf49;
  --blue-color: #85b4f2;
}

body {
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--gold-color);
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.dungeon-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b0bdd966;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border: 5px solid --dark-color;

  user-select: none;
}

.dungeon-card:hover {
  transform: scale3d(1.1);
}

.progress-bar {
  background-color: #85b4f2;
}

@media (max-width: 768px) {
  .app {
    border-radius: 0px;
  }

  .dungeon-card {
    height: 10vh;
  }
}

@media (min-width: 768px) {
  .app {
    max-height: 100vh;
  }

  .dungeon-card {
    height: 18vh;
  }
}
